Dictionaries as opposed to Lists CANNOT be sorted (indexed or sliced), though can be likeable as you don't need to know the index order i.e. items can be accessed quicker.

In [3]:
my_dict = {'key1':'value1','key2':'value2'}

In [4]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [5]:
my_dict['key1']

'value1'

In [18]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [19]:
prices_lookup['apple']

2.99

In [15]:
d = {'k1':123,'k2':[0,1,2,'wow'],'k3':{'insideKey':100}}

In [16]:
d['k2']

[0, 1, 2, 'wow']

The above shows how dictionaries can also contain lists & even dictionaries (uncommon but doable)

In [11]:
d['k3']

{'insideKey': 100}

In [12]:
d['k2']['insideKey']

100

Above shows you can go 2 layers in to retrieve values just like the below which uses (list) indexing

In [18]:
d['k2'][3].upper()

'WOW'

below shows how to display keys, values & key-value pairing (.keys, .values, .items)

In [12]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [13]:
d.values()

dict_values([123, [0, 1, 2, 'wow'], {'insideKey': 100}])

In [14]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2, 'wow']), ('k3', {'insideKey': 100})])

In [24]:
my_dict.keys()

dict_keys(['key1', 'key2'])

The below removes the milk key pair

In [38]:
prices_lookup.pop('milk')

5.8

TUPLES - similar to lists but are immutable (like with strings) i.e. item assignment not allowed! (depicted by parentheses - (123) )
They're useful to guarantee the integrity of data i.e. so the data doesn't get changed.

In [6]:
t = (1, 20, 12, 5.5,'two',3, 1, 1 , 20, 50.5, ['a', 'b', 'c'])

In [7]:
t[1]

20

In [8]:
t.count(1)

3

In [63]:
t.index(50.5)

9

ONLY 2 METHODS - .count is the number of occurences of the specified value & .index is index position of the specified value (as seen above)

In [71]:
m = [1,2, {'one','two'}]

In [72]:
type(m)

list

In [77]:
z = m[2]

In [78]:
z

{'one', 'two'}

SETS - houses unique values no repitions. Uses {} like with dictionaries but without key-value pairs. They have no order.

In [79]:
myset = set()

In [80]:
myset

set()

In [87]:
myset.add(1)

In [82]:
myset

{1}

In [94]:
myset.add(2)

In [88]:
myset

{1, 2}

In [90]:
myset.remove(2)

In [91]:
myset

{1}

.pop (removes first value), .remove (specifies value to be removed) & .add are some set methods

In [97]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3,3]

In [98]:
myset2 = set(mylist)

In [99]:
myset2

{1, 2, 3}

In [147]:
myset2.add('wow')

In [106]:
myset2

{1, 2, 3, 'wow'}

In [114]:
x = {'fruit1':'apple', 'fruit2':'grape', 'fruit3':'banana'}

In [121]:
set(x)

{'fruit1', 'fruit2', 'fruit3'}

In [135]:
setx = set(x)

In [1]:
Mset = set('Mississipi')
print(Mset)

{'p', 'i', 's', 'M'}

BELOW : using other data types with sets

In [137]:
unique = ['These letters {} are unique'.format(Mset)]

In [133]:
unique

["These letters {'p', 'M', 'i', 's'} are unique"]

In [141]:
unique.append('another')

In [142]:
unique

["These letters {'p', 'M', 'i', 's'} are unique", 'another']

In [144]:
type(setx)

set

BOOLEANS

In [148]:
True

True

In [150]:
1>2

False

In [152]:
1==1

True

In [153]:
b = None

In [154]:
type(b)

NoneType

In [155]:
me = (1,1,2,3,3,44,4,5)

In [156]:
type(me)

tuple

In [159]:
r = set(me)

In [160]:
r.add(400)

In [161]:
r

{1, 2, 3, 4, 5, 44, 400}

In [166]:
me[-2] = 5000

TypeError: 'tuple' object does not support item assignment