In [67]:
a = 2

In [75]:
a + a

4

In [84]:
a = a + a

In [85]:
a

32

In [86]:
type(a)

int

In [87]:
a = 32.0

In [88]:
type(a)

float

In [128]:
my_income = 100000

tax_rate = 0.1

my_taxes = my_income * tax_rate

print( 'YOUR TAX RATE IS >>> %s' %(my_taxes) )
print("YOUR TAX RATE IS >>>",my_taxes)

YOUR TAX RATE IS >>> 10000.0
YOUR TAX RATE IS >>> 10000.0

In [90]:
my_taxes

10000.0

In [91]:
type(my_taxes)

float

In [92]:
type(tax_rate)

float

In [93]:
type(my_income)

int

In [94]:
"world"

'world'

In [95]:
'world'

'world'

In [96]:
print('hello')

hello

In [98]:
print("hello")

hello

In [99]:
print ("hello \thola")

hello 	hola

In [100]:
print ("hello \nsalut")

hello
salut

In [135]:
len('helffflo')

8

In [102]:
type('hello')

str

In [103]:
type('5')

str

In [104]:
type(5)

int

In [105]:
type(5.0)

float

In [156]:
mystring = 'abcdefghijk'

In [150]:
mystring

'abcdefjhijk'

In [151]:
mystring[5]

'f'

In [163]:
mystring[2:]

'cdefghijk'

In [153]:
mystring[:3]

'abc'

[:3] signifies counting from index 0 then 1, 2, then stop at 3 BUT don't include index 3 in the output. [:3] is a stop index

In [161]:
mystring[::]

'abcdefghijk'

In [160]:
mystring[::2]

'acegik'

[::2] means step size of 2 e.g. starting from index 0 go 2 steps
[2:7:2] 2 start 7 stop 2 step size

In [164]:
mystring[2:7:2]

'ceg'

In [166]:
mystring[::-1]

'kjihgfedcba'

The above is counting is reverse i.e. count from beginning to end but with a step size of -1

In [167]:
'my pythong things'[-2]

'g'

In [173]:
'2019'[::-2]

'90'

looking at the above, are step sizes or slicing in general different for numbers ???!!!

In [172]:
'abcdef'[::-2]

'fdb'

In [174]:
num = 1

In [175]:
num

1

In [190]:
x = 'Sam' [1:2] + "lice " + '100'

In [191]:
x

'alice 100'

In [203]:
x = x + ' New Phase'

In [204]:
x

'alice 100>>> New Phase >>> New Phase New Phase New Phase New Phase New Phase New Phase New Phase'

In [208]:
'moi' * 5

'moimoimoimoimoi'

In [219]:
y = "hi this is a string"

In [220]:
y

'hi this is a string'

In [212]:
type(y)

str

VARIABLE METHODS - variable + tab key ---- specifies variable methods (works for strings not sure of other data types)

In [222]:
y.split()

['hi', 'this', 'is', 'a', 'string']

split - splits string into separate words using spaces as a delimiter by default

In [223]:
y.split('a')

['hi this is ', ' string']

The above uses 'a' as a delimiter instead of white spaces